services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: lrts
      POSTGRES_PASSWORD: lrts
      POSTGRES_DB: lrts_db
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - "6379:6379"

volumes:
  pgdata:
